{% from 'templates/macro.html' import fa_icon %}
<div class="item">
	<i class="type {{ fa_icon(item.type) }}">
	</i>
	<a class="item-content" href="{{ item.url }}">
		{% if item.type == "Youtube like" %}
			<div class="thumb"
				 style="background-image:url('{{ item.thumbnails['medium']['url'] }}')">
			</div>
		{% elif item.type=="Pocket" %}
			{% if item.images %}
				<div class="thumb"
					 style="background-image:url('{{ item.images[0] }}')">
				</div>
			{% endif %}
		{% elif item.type=="Vimeo" %}
			{% if item.thumbnails %}
				<div class="thumb"
					 style="background-image:url('{{ item.thumbnails.sizes[2].link }}')">
				</div>
			{% endif %}
		{% endif %}
		<div class="title">
			{{ item.title or item.url }}
		</div>
	</a>
	<div class="date">{{ item.timestamp }}</div>
</div>
