/.idea/
/_dev/
/.pycharmrc

__pycache__/
*.py[cod]
*$py.class



# configuration files
/appkeys/*
/userkeys/*
/db.json

# The output of the build process: the flat site
/build/*
!.gitkeep

# We are experimenting, let's keep templates private for now ;)
/flatbuilder/*/
!flatbuilder/empty/

.python-version
