/.idea/
/_dev/
/.pycharmrc

__pycache__/
*.py[cod]
*$py.class



# configuration files
/appkeys/*
/userkeys/*
/db.json
/db.sqlite

# The output of the build process: the flat site
/build/*
/logs/*


# We are experimenting, let's keep templates private for now ;)
/flatbuilder/*/
!flatbuilder/empty/

.python-version
node_modules
api/ui/dist

!.gitkeep
.environment
gunicorn.pid

*.log

# push notifications
/push/*.pem
/push/claims.json
