# Tested in Python3

# google apis to access youtube
google-api-python-client
pyvimeo
feedparser

# we store data in json via tinydb
tinydb
sqlalchemy

# tinydb get improved performance with ujson
ujson

# parse html to detect where to put dynamic content
pyquery

# ...
requests
pytz
pyyaml


# building the flat site
flask
jinja2

# deployment
fabric3

-r api/requirements.txt
