$item-width: 320px;
$item-height: 220px;
$max-width: 1024px;

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #888
}

.aggregation {
  display: grid;
  grid-template-columns: repeat(auto-fill, $item-width);
  grid-gap: 2rem;
  justify-content: center;
  max-width: $max-width;
  margin: auto;

  &:after {
    content: "";
    flex: auto;
  }

  .type {
    position: absolute;
    padding: 3px;
    top: -2px;
    right: -10px;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    box-shadow: -2px 3px 11px 3px #333;

    &.fa-get-pocket {
      color: rgb(239, 68, 88); //getpocket official
    }

    &.fa-youtube {
      color: #b31217; //youtube official red: https://www.youtube.com/yt/brand/color.html
    }
  }

  .item {
    position: relative;
    background-color: #999;
    border: 1px solid #666;
    margin: 20px 0;
    width: $item-width;
    height: $item-height;

    .item-content {
      background-color: white;
      width: 100%;
    }

    .thumb {
      height: 100%;
      width: 100%;
      background-color: #eee;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .title {
      color: #eee;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.95);
      padding: 5px 5px;
    }

    .date {
      position: absolute;
      top: 100%;
      right: 0;
      margin: 2px 0;
      text-align: right;
      font-size: 10px;
    }
  }
}

.btn {
  margin: 1em auto;
  padding: 10px 20px;
  text-align: center;
  background: #eee;
  color: #333;
  border: 1px solid #333;
  transition: all .2s ease;
  cursor: pointer;
  max-width: $item-width;

  &:hover {
    color: #555;
    box-shadow: 0 0 50px 10px transparentize(#999, .2);
  }
}

.loader {
  text-align: center;
  grid-column: 1/-1;
}

.footer {
  text-align: right;
  font-size: smaller;
  color: #ccc;

  a {
    text-decoration: none;
    margin: 0 .5em;
    display: inline-block;
  }
}

.message {
  font-size: 16pt;
  padding: 10px;
  text-align: center;
  background: #222;
}
