$item-width: 320px;
$item-height: 220px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: #ccc;
}

a {
  color: #888
}

@import "ellipsed-text";
